<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<div class="registrarse__container">
  <div>
    <h4>Crea una cuenta y mantente informado</h4>
    <p>Es rápido y fácil.</p>
  </div>
  <div class="div__form__container">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div>
        <span
          class="span__err"
          *ngIf="
            userNameControl?.invalid &&
            (userNameControl?.dirty || userNameControl?.touched)
          "
        >
          El nombre de usuario solo pude contener letras y numeros
        </span>
        <div class="input__div">
          <input
            placeholder="Username"
            formControlName="userName"
            type="text"
            id="user__name__id"
            [ngClass]="
              userNameControl?.touched
                ? userNameControl?.valid
                  ? 'inp__valid'
                  : 'inp__err'
                : ''
            "
          />
          <i class="fa-regular fa-user"></i>
        </div>
      </div>
      <div>
        <span
          class="span__err"
          *ngIf="emailControl?.touched && emailControl?.invalid"
        >
          Por favor coloca un email valido
        </span>
        <div class="input__div">
          <input
            placeholder="Email"
            formControlName="email"
            type="text"
            id="user__email__id"
            [ngClass]="
              emailControl?.touched
                ? emailControl?.valid
                  ? 'inp__valid'
                  : 'inp__err'
                : ''
            "
          />

          <i class="fa-regular fa-envelope"></i>
        </div>
      </div>
      <div>
        <span
          class="span__err"
          *ngIf="
            passwordControl?.invalid &&
            (passwordControl?.dirty || passwordControl?.touched)
          "
        >
          La contrasenia debe tener un minimo de 8 caracteres
        </span>
        <div class="input__div">
          <input
            placeholder="Password"
            formControlName="password"
            type="text"
            id="user__pass__id"
            [ngClass]="
              passwordControl?.touched
                ? passwordControl?.valid
                  ? 'inp__valid'
                  : 'inp__err'
                : ''
            "
          />

          <i class="fa-solid fa-key"></i>
        </div>
      </div>

      <div>
        <button type="submit">Registrarse</button>
      </div>
    </form>
    <div class="footer__mensaje">
      <p>
        Al registrarte, aceptas nuestras Condiciones, nuestra Política de
        privacidad y nuestra Política de cookies.
      </p>
    </div>
  </div>
</div>
